@import "./assets/styles/app.css";


/* .statutes-container {
    position: relative;
  }
  
  .statutes-container::before {
    content: '';
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #3b82f6; 
  }
  
  .statute-item {
    position: relative;
    padding-left: 48px;
    padding-right: 32px;
    padding-bottom: 32px;
    margin-top: 8px;
  }
  
  .statute-item::before {
    content: '';
    position: absolute;
    left: 19.5px;
    top: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #3b82f6; 
    background-color: white;
  }

   */
.react-calendar {
    width: 100%;
    background-color: #ffffff;
    border: none;
    font-family: Arial, sans-serif;
  }
  
  .react-calendar__navigation {
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: 16px;
    color: #333;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }
  
  .react-calendar__month-view__days__day {
    padding: 8px;
    background: none;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--active {
    background-color: #006edc;
    color: white;
  }
  
  .holiday-marker {
    font-size: 0.7em;
    color: #ff0000;
    margin-top: 2px;
  }